{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- ========================
       page title 
    =========================== -->
<section class="page-title page-title-layout15 text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <nav>
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
          </ol>
        </nav>
      </div><!-- /.col-xl-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<!-- ======================
      Blog Single
    ========================= -->
<section class="blog blog-single pt-0 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="post-item mb-0">
          <div class="post__img">
            <a href="#">
              <img src="{{ post.image.url }}" alt="blog image">
            </a>
          </div><!-- /.post-img -->
          <div class="post__meta d-flex align-items-center mb-20">
            <span class="post__meta-date">{{ post.date_posted|date:"M d, Y" }}</span>
            <div class="post__meta-cat">
              {% for category in post.categories.all %}
              <a href="#">{{ category.name }}</a>
              {% endfor %}
            </div><!-- /.blog-meta-cat -->
            <span class="post__meta-author"><span class="color-secondary">By:</span>
              <a href="#">{{ post.author.first_name }}</a>
            </span>
          </div><!-- /.blog-meta -->
          <h1 class="post__title mb-30">
            {{ post.title }}
          </h1>
          <div class="post__desc mb-50">
            {{ post.content|safe }}
          </div><!-- /.blog-desc -->
        </div><!-- /.post-item -->
        <div class="bordered-box mb-40">
          <div class="row row-no-gutter">
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
              <div class="blog-tags d-flex flex-wrap">
                <strong class="mr-20 color-heading">Tags</strong>
                <ul class="list-unstyled d-flex flex-wrap mb-0">
                  <li><a href="#">Consulting</a></li>
                  <li><a href="#">Tech</a></li>
                  <li><a href="#">Employee</a></li>
                  <li><a href="#">Organization</a></li>
                </ul>
              </div><!-- /.blog-tags -->
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="blog-share d-flex flex-wrap justify-content-end">
                <strong class="mr-20 color-heading">Share</strong>
                <ul class="list-unstyled social-icons social-icons-primary d-flex mb-0">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-google"></i></a></li>
                </ul>
              </div><!-- /.blog-share -->
            </div>
          </div>
        </div>
        <div class="widget-nav d-flex justify-content-between mb-40">
          <a href="#" class="widget-nav__prev d-flex flex-wrap">
            <div class="widget-nav__img">
              <div class="widget-nav__overlay"></div>
              <img src="{% static '/images/blog/grid/4.jpg'%}" alt="blog thumb">
            </div>
            <div class="widget-nav__content">
              <span>Previous Post</span>
              <h5 class="widget-nav__ttile mb-0">Succession Risks Threaten Leadership Strategy</h5>
            </div>
          </a><!-- /.widget-prev  -->
          <a href="#" class="widget-nav__next d-flex flex-wrap">
            <div class="widget-nav__img">
              <div class="widget-nav__overlay"></div>
              <img src="{% static '/images/blog/grid/6.jpg'%}" alt="blog thumb">
            </div>
            <div class="widget-nav__content">
              <span>Next Post</span>
              <h5 class="widget-nav__ttile mb-0">Employee Engagement Surveys Tell About Employee?</h5>
            </div>
          </a><!-- /.widget-next  -->
        </div>
        <div class="blog-author d-flex flex-wrap mb-70">
          <div class="blog-author__avatar">
            <img src="{% static '/images/blog/author/1.jpg'%}" alt="avatar">
          </div><!-- /.author-avatar  -->
          <div class="blog-author__content">
            <h6 class="blog-author__name">Mahmoud Baghagho</h6>
            <p class="blog-author__bio">Founded by Begha over many cups of tea at her kitchen table in 2009, our
              brand promise is simple: to
              provide powerful digital marketing solutions to small and medium businesses.</p>
            <ul class="social-icons list-unstyled mb-0">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-vimeo-v"></i></a> </li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a> </li>
            </ul>
          </div><!-- /.author-content  -->
        </div><!-- /.blog-author  -->
        <div class="blog-comments mb-70">
          <h5 class="blog-widget__title">2 comments</h5>
          <ul class="comments-list list-unstyled">
            <li class="comment__item">
              <div class="comment__avatar">
                <img src="{% static '/images/blog/author/2.jpg'%}" alt="avatar">
              </div>
              <div class="comment__content">
                <h5 class="comment__author">Richard Muldoone</h5>
                <span class="comment__date">Feb 28, 2017 - 08:07 pm</span>
                <p class="comment__desc">The example about the mattress sizing page you mentioned in the last WBF
                  can be a perfect example
                  of new keywords and content, and broadening the funnel as well. I can only imagine the sale
                  numbers if that was the site of a mattress selling company.</p>
                <a class="comment__reply" href="#">reply</a>
              </div>
              <ul class="nested__comment list-unstyled">
                <li class="comment__item">
                  <div class="comment__avatar">
                    <img src="{% static '/images/blog/author/3.jpg'%}" alt="avatar">
                  </div>
                  <div class="comment__content">
                    <h5 class="comment__author">Mike Dooley</h5>
                    <span class="comment__date">Feb 28, 2017 - 08:22 pm</span>
                    <p class="comment__desc">The example about the mattress sizing page you mentioned in the last
                      WBF can be a perfect
                      example of new keywords and content, and broadening the funnel as well. I can only imagine the
                      sale numbers if that was the site of a mattress selling company.</p>
                    <a class="comment__reply" href="#">reply</a>
                  </div>
                </li><!-- /.comment -->
              </ul><!-- /.nested-comment -->
            </li><!-- /.comment -->
          </ul><!-- /.comments-list -->
        </div><!-- /.blog-comments -->
        <div class="blog-widget blog-comments-form mb-30">
          <h5 class="blog-widget__title">Leave A Reply</h5>
          <form>
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name:">
                </div><!-- /.form-group -->
              </div><!-- /.col-lg-6 -->
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email:">
                </div><!-- /.form-group -->
              </div><!-- /.col-lg-6 -->
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Website:">
                </div><!-- /.form-group -->
              </div><!-- /.col-lg-6 -->
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Comment"></textarea>
                </div><!-- /.form-group -->
              </div><!-- /.col-lg-12 -->
              <div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap align-items-center">
                <button type="submit" class="btn btn__primary btn__icon justify-content-between btn__xl">
                  <span>Submit Comment</span><i class="icon-arrow-right"></i>
                </button>
              </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
          </form>
        </div><!-- /.blog-comments-form -->
      </div><!-- /.col-lg-8 -->
      <div class="col-sm-12 col-md-12 col-lg-4">
        <aside class="sidebar">
          <div class="widget widget-search">
            <h5 class="widget__title">Search</h5>
            <div class="widget__content">
              <form class="widget__form-search">
                <input type="text" class="form-control" placeholder="Search...">
                <button class="btn" type="submit"><i class="icon-search"></i></button>
              </form>
            </div><!-- /.widget-content -->
          </div><!-- /.widget-search -->
          <div class="widget widget-posts">
            <h5 class="widget__title">Recent Posts</h5>
            <div class="widget__content">
              <!-- post item #1 -->
              <div class="widget-post-item d-flex align-items-center">
                <div class="widget-post__img">
                  <a href="#"><img src="{% static '/images/blog/grid/2.jpg'%}" alt="thumb"></a>
                </div><!-- /.widget-post-img -->
                <div class="widget-post__content">
                  <span class="widget-post__date">Sep 19, 2020</span>
                  <h4 class="widget-post__title"><a href="#">Succession Risks That Threaten Your Leadership</a>
                  </h4>
                </div><!-- /.widget-post-content -->
              </div><!-- /.widget-post-item -->
              <!-- post item #2 -->
              <div class="widget-post-item d-flex align-items-center">
                <div class="widget-post__img">
                  <a href="#"><img src="{% static '/images/blog/grid/3.jpg'%}" alt="thumb"></a>
                </div><!-- /.widget-post-img -->
                <div class="widget-post__content">
                  <span class="widget-post__date">July 7, 2020</span>
                  <h4 class="widget-post__title"><a href="#">Do Employee Surveys Tell About Employee?</a>
                  </h4>
                </div><!-- /.widget-post-content -->
              </div><!-- /.widget-post-item -->
              <!-- post item #3 -->
              <div class="widget-post-item d-flex align-items-center">
                <div class="widget-post__img">
                  <a href="#"><img src="{% static '/images/blog/grid/6.jpg'%}" alt="thumb"></a>
                </div><!-- /.widget-post-img -->
                <div class="widget-post__content">
                  <span class="widget-post__date">March 13, 2020</span>
                  <h4 class="widget-post__title"><a href="#">Succession Risks That Threaten Your Leadership</a>
                  </h4>
                </div><!-- /.widget-post-content -->
              </div><!-- /.widget-post-item -->
            </div><!-- /.widget-content -->
          </div><!-- /.widget-posts -->
          <div class="widget widget-categories">
            <h5 class="widget__title">Categories</h5>
            <div class="widget-content">
              <ul class="list-unstyled mb-0">
                <li><a href="#"><span>IT Management</span><span class="cat-count">9</span></a></li>
                <li><a href="#"><span>Cyber Security</span><span class="cat-count">2</span></a></li>
                <li><a href="#"><span>Cloud Computing</span><span class="cat-count">5</span></a></li>
                <li><a href="#"><span>IT Consulting</span><span class="cat-count">1</span></a></li>
                <li><a href="#"><span>Software Dev</span><span class="cat-count">7</span></a></li>
              </ul>
            </div><!-- /.widget-content -->
          </div><!-- /.widget-categories -->
          <div class="widget widget-tags">
            <h5 class="widget__title">Tags</h5>
            <div class="widget-content">
              <ul class="list-unstyled mb-0">
                <li><a href="#">Insights</a></li>
                <li><a href="#">Industry</a></li>
                <li><a href="#">Modern</a></li>
                <li><a href="#">Corporate</a></li>
                <li><a href="#">Business</a></li>
              </ul>
            </div><!-- /.widget-content -->
          </div><!-- /.widget-tags -->
        </aside><!-- /.sidebar -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.blog Single -->

{% endblock %}