{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ============================
        Slider
    ============================== -->
    <section class="slider">
      <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0"
        data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
        <div class="slide-item align-v-h bg-overlay bg-overlay-gradient">
          <div class="bg-img"><img src="{% static 'images/sliders/1.jpg' %}" alt="slide img"></div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <div class="slide__content">
                  <span class="slide__subtitle">Provides Consultative Approach On Emerging Technology.</span>
                  <h2 class="slide__title">Help Challenge Critical Activities</h2>
                  <p class="slide__desc">We are experienced professionals who understand that It services is changing,
                    and are true partners who care about your success. </p>
                  <div class="d-flex flex-wrap align-items-center">
                    <a href="about-us.html" class="btn btn__primary btn__primary-style2 mr-30">
                      <i class="fas fa-arrow-right"></i>
                      <span>More About Us</span>
                    </a>
                    <a href="it-solutions.html" class="btn btn__white">Our Services</a>
                  </div>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-7 -->
              <div class="col-xl-5 d-none d-xl-flex justify-content-end">
                <div class="cta-banner">
                  <div class="slick-carousel" data-slick='{"slidesToShow": 1, "arrows": false, "dots": true}'>
                    <div>
                      <div class="cta__icon">
                        <i class="fas fa-file"></i>
                      </div>
                      <h4 class="cta__title mb-0">Thinking insights, verified research, and make right decisions!</h4>
                    </div>
                    <div>
                      <div class="cta__icon">
                        <i class="fas fa-network-wired"></i>
                      </div>
                      <h4 class="cta__title mb-0">Utilising the latest processing solutions & decades of experience.
                      </h4>
                    </div>
                  </div>
                </div><!-- /.cta-banner -->
              </div><!-- /.col-xl-5 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src="{% static 'images/sliders/2.jpg' %}" alt="slide img"></div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <div class="slide__content">
                  <span class="slide__subtitle">Provides Consultative Approach On Emerging Technology.</span>
                  <h2 class="slide__title">Help Challenge Critical Activities</h2>
                  <p class="slide__desc">We are experienced professionals who understand that It services is changing,
                    and are true partners who care about your success. </p>
                  <div class="d-flex flex-wrap align-items-center">
                    <a href="about-us.html" class="btn btn__primary btn__primary-style2 mr-30">
                      <i class="fas fa-arrow-right"></i>
                      <span>More About Us</span>
                    </a>
                    <a href="it-solutions.html" class="btn btn__white">Our Services</a>
                  </div>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-7 -->
              <div class="col-xl-5 d-none d-xl-flex justify-content-end">
                <div class="cta-banner">
                  <div class="slick-carousel" data-slick='{"slidesToShow": 1, "arrows": false, "dots": true}'>
                    <div>
                      <div class="cta__icon">
                        <i class="fas fa-network-wired"></i>
                      </div>
                      <h4 class="cta__title mb-0">Utilising the latest processing solutions & decades of experience.
                      </h4>
                    </div>
                    <div>
                      <div class="cta__icon">
                        <i class="fas fa-file"></i>
                      </div>
                      <h4 class="cta__title mb-0">Thinking insights, verified research, and make right decisions!</h4>
                    </div>
                  </div>
                </div><!-- /.cta-banner -->
              </div><!-- /.col-xl-5 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
      </div><!-- /.carousel -->
    </section><!-- /.slider -->

    <!-- ========================
      About Layout 2
    =========================== -->
    <section class="about-layout2 pt-130 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
            <div class="about__img mb-40">
              <img src="{% static 'images/about/1.jpg' %}" alt="about">
              <blockquote class="blockquote mb-0">
                <h4 class="blockquote__title">You are helping to lead the charge; we can help you build on your
                  past successes and prepare for your great future.
                </h4>
                <span class="blockquote__author">John Peter, Founder</span>
              </blockquote>
            </div><!-- /.about-img -->
          </div><!-- /.col-xl-5 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-1">
            <div class="heading-layout2 mb-40">
              <h2 class="heading__subtitle">Improve Efficiency and Provide Better Experiences!</h2>
              <h3 class="heading__title">Keep Your Business Safe & Ensure High Availability.</h3>
            </div><!-- /heading -->
            <div class="about-text-wrapper">
              <div class="about__Text">
                <p class="font-weight-bold mb-30">As one of the world's largest ITService Providers, our deep pool of
                  over
                  130 certified engineers and IT
                  support staff are ready to help.</p>
                <p>Provide users with appropriate view and access permissions to requests, problems, changes, contracts,
                  assets, solutions, and reports with our experienced professionals.</p>
              </div>
              <a href="#" class="btn btn__primary btn__icon mt-30">
                <span>Schedule An Appointment</span><i class="fas fa-arrow-right"></i>
              </a>
              <ul class="list-items list-items-layout2 list-unstyled mb-0 mt-60">
                <li>Delivered in more than 450,000 client’s interactions </li>
                <li>Provided by experts to help challenge critical activities</li>
                <li>Complemented with peer perspectives and advice</li>
              </ul>
            </div>
          </div><!-- /.col-xl-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->
    <!-- ========================
        Services Layout 1
    =========================== -->
    <section class="services-layout1 services-carousel pb-100">
      <div class="bg-img"><img src="{% static 'images/backgrounds/5.png' %}" alt="backgrounds"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading text-center mb-50">
              <h2 class="heading__subtitle">Nationwide Service, Local Expertise</h2>
              <h3 class="heading__title">Offer The Latest Software And Solutions To Our customers! </h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "arrows": false, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
              <!-- service item #1 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fas fa-server"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">IT Management <br> Services</h4>
                <div class="service__content">
                  <p class="service__desc">IT management service that manages and oversees the IT of organization
                    responsible for network and operations which includes data communication.
                  </p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
              <!-- service item #2 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fas fa-cloud"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">Cyber Security<br> Services</h4>
                <div class="service__content">
                  <p class="service__desc">Drive your business and manage risk with a global industry leader in
                    cybersecurity, cloud, and managed security services and extend your team with leading experts.</p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
              <!-- service item #3 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fas fa-server"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">Cloud Computing<br> Services</h4>
                <div class="service__content">
                  <p class="service__desc">Cloud computing is the on-demand availability of computer system
                    resources, especially data storage and computing power, without direct active management .
                  </p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
              <!-- service item #4 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fas fa-tools"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">IT Consulting <br> Services</h4>
                <div class="service__content">
                  <p class="service__desc">Trying to solve all your IT challenges internally can become costly and a
                    major distraction, Leveraging knowledgeable IT consulting firms like ushelps your business.</p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
              <!-- service item #5 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fas fa-code"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">Software Dev<br> Services</h4>
                <div class="service__content">
                  <p class="service__desc">With shorter product cycles, rapid innovation, and mergers contributing to
                    constant change, you are faced with making business decisions every day to advance your mission.
                  </p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
              <!-- service item #6 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fas fa-code"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">Backup & Recovery<br> Services</h4>
                <div class="service__content">
                  <p class="service__desc">While you can’t predict unexpected events, we’ll ensure the right
                    precautions
                    are in place to minimize downtime and keep you moving in the right direction.</p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
            </div><!-- /.carousel -->
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12 text-center">
            <p class="text__link mt-20 mb-0">Working hard to earn our customers’ trust.
              <a href="industries.html" class="btn btn__secondary btn__link mx-1">
                <span>Explore All Services</span> <i class="fas fa-arrow-right"></i>
              </a>
            </p>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Services Layout 1 -->

    <!-- ========================
    Features Layout 2
    ========================= -->
    <section class="features-layout2 bg-overlay bg-overlay-secondary-gradient pt-130">
      <div class="bg-img"><img src="{% static 'images/banners/4.jpg' %}" alt="background"></div>
      <div class="container">
        <div class="row mb-40">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <h2 class="heading__subtitle color-primary">Ensure High Availability of Your Services</h2>
            <h3 class="heading__title color-white">Improve Efficiency And Provide Better Experience By Our IT
              Solutions!
            </h3>
          </div><!-- /col-lg-5 -->
          <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-1">
            <p class="heading__desc color-gray">Trusted by the world's best organizations, for 15 years and running,
              it has been delivering smiles to hundreds of IT advisors, developers, users, and business owners. Easy
              solutions for
              all difficult IT problems to ensure high availability.
            </p>
            <div class="d-flex flex-wrap mt-40 mb-30">
              <a href="#" class="btn btn__primary btn__primary-style2 mr-30">
                <i class="fas fa-arrow-right"></i>
                <span>Get Started</span>
              </a>
              <a href="#" class="btn btn__white btn__outlined">Request A Demo</a>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- Feature item #1 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__icon">
                <i class="fas fa-chart-line"></i>
              </div>
              <h4 class="feature__title">Software Asset Management</h4>
              <p class="feature__desc">Extend proven Tech best practices to HR, finance, and other service delivery
                areas.</p>
              <a href="#" class="btn__link">
                <i class="fas fa-arrow-right"></i>
                <span>Read More</span>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #2 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__icon">
                <i class="fas fa-laptop-code"></i>
              </div>
              <h4 class="feature__title">Software License Management</h4>
              <p class="feature__desc">Build dynamic request templates with associated workflows, and tasks.</p>
              <a href="#" class="btn__link">
                <i class="fas fa-arrow-right"></i>
                <span>Read More</span>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #3 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__icon">
                <i class="fas fa-globe"></i>
              </div>
              <h4 class="feature__title">Knowledge Base & Live Chat</h4>
              <p class="feature__desc">Build dynamic request templates with associated workflows, and tasks.</p>
              <a href="#" class="btn__link">
                <i class="fas fa-arrow-right"></i>
                <span>Read More</span>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #4 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__icon">
                <i class="fas fa-tasks"></i>
              </div>
              <h4 class="feature__title">Privileged Access Management</h4>
              <p class="feature__desc">Extend proven Tech best practices to HR, finance, and other service delivery
                areas.</p>
              <a href="#" class="btn__link">
                <i class="fas fa-arrow-right"></i>
                <span>Read More</span>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12 text-center mt-40">
            <p class="font-weight-bold color-white mb-0">Feel free to contact us, or you can call us any time
              <a href="tel:(002) 01061245741" class="color-white-hover">(002) 01061245741</a>
            </p>
          </div>
        </div>
      </div><!-- /.container -->
    </section><!-- /.Features Layout 2 -->

    <!-- ==========================
        contact layout 2
    =========================== -->
    <section class="contact-layout2 py-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="contact-panel d-flex flex-wrap">
              <div class="stats-banner contact-panel__info d-flex flex-column justify-content-between">
                <div class="bg-img"><img src="{% static 'images/backgrounds/1.jpg' %}" alt="banner"></div>
                <div class="slick-carousel carousel-dots-light counters-light mb-40"
                  data-slick='{"slidesToShow": 1, "arrows": false, "dots": true, "speed": 700}'>
                  <div class="counter-item">
                    <h4 class="counter color-white">6,154</h4>
                    <p class="counter__desc">Projects And Software Developed in 2021</p>
                  </div><!-- /.counter-item -->
                  <div class="counter-item">
                    <h4 class="counter color-white">6,154</h4>
                    <p class="counter__desc">Projects And Software Developed in 2021</p>
                  </div><!-- /.counter-item -->
                </div><!-- /.slick-carousel -->
                <div>
                  <h4 class="stats-banner__ttile mb-20">As one of the world's largest IT Service Providers, our
                    deep pool of certified engineers and IT staff are ready to help you to keep business safe & ensure
                    high availability.
                  </h4>
                  <a href="industries.html" class="btn btn__white btn__link">
                    <span>Customers’ Stories</span> <i class="fas fa-arrow-right"></i>
                  </a>
                </div>
              </div><!-- /.stats-banner-->
              <form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="contact-panel__title">Request A Quote</h4>
                    <p class="contact-panel__desc mb-20">Our deep pool of certified engineers and IT staff are ready to
                      help you to keep your IT business safe & ensure high availability.</p>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name"
                        required>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" id="contact-email"
                        name="contact-email" required>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <select class="form-control">
                        <option value="1">Inquiry</option>
                        <option value="2">case study</option>
                      </select>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Phone" id="contact-Phone"
                        name="contact-phone" required>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-12">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Describe your inquirey!" id="contact-message"
                        name="contact-message"></textarea>
                    </div>
                    <button type="submit" class="btn btn__secondary btn__icon btn__xhight mt-10">
                      <span>Submit Request</span> <i class="fas fa-arrow-right"></i>
                    </button>
                    <div class="contact-result"></div>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
              </form><!-- /.contact-panel__form -->
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.contact layout 2 -->

    <!-- ========================= 
      Testimonials layout 1
      =========================  -->
    <section class="testimonials testimonials-layout1 testimonials-has-bottom-img">
      <div class="bg-img"><img src="{% static 'images/backgrounds/4.png' %}" alt="backgrounds"></div>
      <img src="{% static 'images/testimonials/testimonials-group.png' %}" alt="testimonials" class="testimonials-bottom-img">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="testimonials-wrapper">
              <div class="heading">
                <h3 class="heading__title color-primary">1500 Satisfied Users Over The Globe</h3>
              </div><!-- /.heading -->
              <div class="slick-carousel" data-slick='{"slidesToShow": 1, "arrows": false, "dots": true, "speed": 700}'>
                <!-- Testimonial #1 -->
                <div class="testimonial-item">
                  <h3 class="testimonial__title">If you’re looking for a rewarding career and the chance to make an
                    impact, you’ve come to the right place. We will transform your business through our techniques!
                  </h3>
                  <div class="testimonial__meta d-flex align-items-center">
                    <div class="testimonial__thmb mr-20">
                      <img src="{% static 'images/testimonials/thumbs/1.png' %}" alt="author thumb">
                    </div><!-- /.testimonial-thumb -->
                    <div>
                      <h4 class="testimonial__meta-title">John Peter</h4>
                      <p class="testimonial__meta-desc">7oroof Inc</p>
                    </div>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #2 -->
                <div class="testimonial-item">
                  <h3 class="testimonial__title">My project was a simple & small task, but the persistence and
                    determination turned it into an awesome and great project which make me happy.
                  </h3>
                  <div class="testimonial__meta d-flex align-items-center">
                    <div class="testimonial__thmb mr-20">
                      <img src="{% static 'images/testimonials/thumbs/2.png' %}" alt="author thumb">
                    </div><!-- /.testimonial-thumb -->
                    <div>
                      <h4 class="testimonial__meta-title">Ahmed Abdallah</h4>
                      <p class="testimonial__meta-desc">Web Inc</p>
                    </div>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
              </div>
              <p class="text__link mt-50 mb-30">Trusted By The World's <a href="#">Best Organizations</a></p>
              <div class="slick-carousel"
                data-slick='{"slidesToShow": 5, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 2000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 4}}, {"breakpoint": 767, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
                <div class="client">
                  <img src="{% static 'images/clients/1.png' %}" alt="client">
                  <img src="{% static 'images/clients/1.png' %}" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="{% static 'images/clients/2.png' %}" alt="client">
                  <img src="{% static 'images/clients/2.png' %}" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="{% static 'images/clients/3.png' %}" alt="client">
                  <img src="{% static 'images/clients/3.png' %}" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="{% static 'images/clients/4.png' %}" alt="client">
                  <img src="{% static 'images/clients/4.png' %}" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="{% static 'images/clients/5.png' %}" alt="client">
                  <img src="{% static 'images/clients/5.png' %}" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="{% static 'images/clients/6.png' %}" alt="client">
                  <img src="{% static 'images/clients/6.png' %}" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="{% static 'images/clients/7.png' %}" alt="client">
                  <img src="{% static 'images/clients/7.png' %}" alt="client">
                </div><!-- /.client -->
              </div><!-- /.carousel -->
            </div>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.testimonials 1 -->

    <!-- =========================== 
      portfolio layout 2
    ============================= -->
    <section class="portfolio-layout2 portfolio-layout2-carousel pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="heading mb-50">
              <h2 class="heading__subtitle color-body">Latest Case Studies</h2>
              <h3 class="heading__title">Success Stories</h3>
            </div><!-- /heading -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
              <!-- portfolio item #1 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <a href="case-studies-single.html"><img src="{% static 'images/portfolio/modern/1.jpg' %}"
                      alt="portfolio img"></a>
                </div><!-- /.portfolio-img -->
                <div class="portfolio__icon">
                  <img src="{% static 'images/icons/1.png' %}" alt="icon">
                </div><!-- /.portfolio__icon -->
                <div class="portfolio__content">
                  <h4 class="portfolio__title"><a href="#">Financial’s Need For
                      Strategic Advisor</a></h4>
                  <p class="portfolio__desc">We delivered solutions at every step, and moved seamlessly into a more
                    proactive role as a strategic advisor, providing support and guidance across all IT topics.</p>
                  <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->

              </div><!-- /.portfolio-item -->
              <!-- portfolio item #2 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <a href="case-studies-single.html"><img src="{% static 'images/portfolio/modern/2.jpg' %}"
                      alt="portfolio img"></a>
                </div><!-- /.portfolio-img -->
                <div class="portfolio__icon">
                  <img src="{% static 'images/icons/2.png' %}" alt="icon">
                </div><!-- /.portfolio__icon -->
                <div class="portfolio__content">
                  <h4 class="portfolio__title"><a href="#">24x7 System Monitoring
                      and Alert Response</a></h4>
                  <p class="portfolio__desc">This single, unified platform integrates all operational phases of
                    selling and activation of their wireless services and devices, and serves as the backbone .</p>
                  <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
              <!-- portfolio item #3 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <a href="case-studies-single.html"><img src="{% static 'images/portfolio/modern/3.jpg' %}"
                      alt="portfolio img"></a>
                </div><!-- /.portfolio-img -->
                <div class="portfolio__icon">
                  <img src="{% static 'images/icons/3.png' %}" alt="icon">
                </div><!-- /.portfolio__icon -->
                <div class="portfolio__content">
                  <h4 class="portfolio__title"><a href="#">Nonprofit Organization
                      Utilized Security</a></h4>
                  <p class="portfolio__desc">Servers going down on a weekly basis had become the organization’s
                    “normal.” We came on board with the objective of stabilizing the environment,</p>
                  <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
              <!-- portfolio item #4 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <a href="case-studies-single.html"><img src="{% static 'images/portfolio/modern/4.jpg' %}"
                      alt="portfolio img"></a>
                </div><!-- /.portfolio-img -->
                <div class="portfolio__icon">
                  <img src="{% static 'images/icons/4.png' %}" alt="icon">
                </div><!-- /.portfolio__icon -->
                <div class="portfolio__content">
                  <h4 class="portfolio__title"><a href="#">Powerful IT Upgrade Aligns
                      With Your Objectives</a></h4>
                  <p class="portfolio__desc">They needed a robust management solution to organize archive critical
                    documents for client cases, and wanted to determine solutions at every step.</p>
                  <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
              <!-- portfolio item #5 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <a href="case-studies-single.html"><img src="{% static 'images/portfolio/modern/5.jpg' %}"
                      alt="portfolio img"></a>
                </div><!-- /.portfolio-img -->
                <div class="portfolio__icon">
                  <img src="{% static 'images/icons/5.png' %}" alt="icon">
                </div><!-- /.portfolio__icon -->
                <div class="portfolio__content">
                  <h4 class="portfolio__title"><a href="#">The Best IT Practices in
                      Cloud and Security</a></h4>
                  <p class="portfolio__desc">A standardized set of practices, we produce an extensive report
                    recommendations, and health ratings for each technolog phases of selling .</p>
                  <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
              <!-- portfolio item #6 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <a href="case-studies-single.html"><img src="{% static 'images/portfolio/modern/6.jpg' %}"
                      alt="portfolio img"></a>
                </div><!-- /.portfolio-img -->
                <div class="portfolio__icon">
                  <img src="{% static 'images/icons/6.png' %}" alt="icon">
                </div><!-- /.portfolio__icon -->
                <div class="portfolio__content">
                  <h4 class="portfolio__title"><a href="#">Helping Companies With
                      Healthcare Inustry</a></h4>
                  <p class="portfolio__desc">The client was not satisfied with the level of responsiveness and the
                    lack of support provided by their previous service with the objective of stabilizing.</p>
                  <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
            </div><!-- /.carousel -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12 text-center">
            <p class="text__link mb-0">Working hard to earn our customers’ trust.
              <a href="industries.html" class="btn btn__secondary btn__link mx-1">
                <span>Explore All Services</span> <i class="fas fa-arrow-right"></i>
              </a>
            </p>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.portfolio layout 2 -->

    <!-- ======================
     Work Process 
    ========================= -->
    <section class="work-process pt-130 pb-130">
      <div class="bg-img"><img src="{% static 'images/backgrounds/2.jpg' %}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-7">
            <div class="banners-wrapper sticky-top">
              <div class="tab-content mb-50">
                <div class="tab-pane fade show active" id="tab1">
                  <div class="video__banner">
                    <img src="{% static 'images/work-process/1.jpg' %}" class="rounded" alt="banner">
                    <a class="video__btn video__btn-white popup-video"
                      href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                      <div class="video__player">
                        <i class="fa fa-play"></i>
                      </div>
                    </a>
                  </div><!-- /.video__banner -->
                </div>
                <div class="tab-pane fade" id="tab2">
                  <div class="video__banner">
                    <img src="{% static 'images/work-process/2.jpg' %}" class="rounded" alt="banner">
                    <a class="video__btn video__btn-white popup-video"
                      href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                      <div class="video__player">
                        <i class="fa fa-play"></i>
                      </div>
                    </a>
                  </div><!-- /.video__banner -->
                </div>
                <div class="tab-pane fade" id="tab3">
                  <div class="video__banner">
                    <img src="{% static 'images/work-process/3.jpg' %}" class="rounded" alt="banner">
                    <a class="video__btn video__btn-white popup-video"
                      href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                      <div class="video__player">
                        <i class="fa fa-play"></i>
                      </div>
                    </a>
                  </div><!-- /.video__banner -->
                </div>
                <div class="tab-pane fade" id="tab4">
                  <div class="video__banner">
                    <img src="{% static 'images/work-process/4.jpg' %}" class="rounded" alt="banner">
                    <a class="video__btn video__btn-white popup-video"
                      href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                      <div class="video__player">
                        <i class="fa fa-play"></i>
                      </div>
                    </a>
                  </div><!-- /.video__banner -->
                </div>
              </div><!-- /.tab-content -->
              <div class="cta-banner mt-30 mb-30 d-flex flex-wrap align-items-center">
                <h4 class="cta__title my-3 pr-30">
                  We partner with brands to help them improve their Software and IT services. Ready to start your next
                  project? Drop us a line or two at: <a href="mailto:Datasoft@7oroof.com">Datasoft@7oroof.com</a>
                </h4>
                <a href="#" class="btn btn__primary btn__primary-style2">
                  <span>Request Demo</span>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div> <!-- /.cta-banner -->
            </div>
          </div><!-- /.col-lg-7 -->
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
            <div class="heading mb-70">
              <h2 class="heading__subtitle color-primary">How We Works!!</h2>
              <h3 class="heading__title color-white">Deliver Only Exceptional Quality, And Improve! </h3>
            </div>
            <nav class="nav nav-tabs">
              <!-- process Item #1 -->
              <a class="process-item active" data-toggle="tab" href="#tab1">
                <div class="process-item__content">
                  <h4 class="process-item__title">Brainstorming</h4>
                  <p class="process-item__desc">The first step is to take the projects data & think about it to manage
                    all aspects of your software assets including maintenance.</p>
                </div>
              </a><!-- /.process-item -->
              <!-- process Item #2 -->
              <a class="process-item" data-toggle="tab" href="#tab2">
                <div class="process-item__content">
                  <h4 class="process-item__title">Concept Prototype</h4>
                  <p class="process-item__desc">To know about the product, customers & competitors offer integral
                    communication services software assets.
                  </p>
                </div>
              </a><!-- /.process-item -->
              <!-- process Item #3 -->
              <a class="process-item" data-toggle="tab" href="#tab3">
                <div class="process-item__content">
                  <h4 class="process-item__title">Design Layout</h4>
                  <p class="process-item__desc">Start to work on the design taking with collected data, we're
                    responsible for our process and results.
                  </p>
                </div>
              </a><!-- /.process-item -->
              <!-- process Item #4 -->
              <a class="process-item" data-toggle="tab" href="#tab4">
                <div class="process-item__content">
                  <h4 class="process-item__title">Evaluation</h4>
                  <p class="process-item__desc">Reach a conclusion from the investigations about product and we thank
                    each of our great clients projects.</p>
                </div>
              </a><!-- /.process-item -->
            </nav>
          </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Work Process -->

    <!-- ======================
      Blog Grid
    ========================= -->
    <section class="blog-grid pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading text-center mb-40">
              <h2 class="heading__subtitle">Resource Library</h2>
              <h3 class="heading__title">Recent Articles</h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- Blog Item #1 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="post-item">
              <div class="post__img">
                <a href="blog-single-post.html">
                  <img src="{% static 'images/blog/grid/1.jpg' %}" alt="blog image">
                </a>
              </div><!-- /.blog-img -->
              <div class="post__body">
                <div class="post__meta-cat">
                  <a href="#">Consulting</a><a href="#">Sales</a>
                </div><!-- /.blog-meta-cat -->
                <h4 class="post__title"><a href="#">Five Ways to Develop a World Class Sales Operations
                    Function</a>
                </h4>
                <div class="post__meta">
                  <span class="post__meta-date">Jan 30, 2020</span>
                </div>
                <p class="post__desc">Outsourcing IT infrastructure is a concept that has been around for a while.
                  Characterized in terms of technicians and engineers, workstations and servers, the idea of outsourcing
                  ...
                </p>
                <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                  <span>Read More</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.blog-content -->
            </div><!-- /.post-item -->
          </div><!-- /.col-lg-4 -->
          <!-- Blog Item #2 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="post-item">
              <div class="post__img">
                <a href="blog-single-post.html">
                  <img src="{% static 'images/blog/grid/2.jpg' %}" alt="blog image">
                </a>
              </div><!-- /.blog-img -->
              <div class="post__body">
                <div class="post__meta-cat">
                  <a href="#">Tech</a><a href="#">Communications</a>
                </div><!-- /.blog-meta-cat -->
                <h4 class="post__title"><a href="#">Succession Risks That Threaten Your Leadership Strategy</a>
                </h4>
                <div class="post__meta">
                  <span class="post__meta-date">Jan 30, 2020</span>
                </div>
                <p class="post__desc">Today’s organizations need a quality bench of leaders to drive business
                  outcomes and satisfy employees, customers and investors who now demand more transparency and
                  accountability...
                </p>
                <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                  <span>Read More</span>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div><!-- /.blog-content -->
            </div><!-- /.post-item -->
          </div><!-- /.col-lg-4 -->
          <!-- Blog Item #3 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="post-item">
              <div class="post__img">
                <a href="blog-single-post.html">
                  <img src="{% static 'images/blog/grid/3.jpg' %}" alt="blog image">
                </a>
              </div><!-- /.blog-img -->
              <div class="post__body">
                <div class="post__meta-cat">
                  <a href="#">Digital Business</a><a href="#">Cloud</a>
                </div><!-- /.blog-meta-cat -->
                <h4 class="post__title"><a href="#">What Do Employee Engagement Surveys Tell You About
                    Employee?</a>
                </h4>
                <div class="post__meta">
                  <span class="post__meta-date">Jan 30, 2020</span>
                </div>
                <p class="post__desc">Outsourcing IT infrastructure is a concept that has been around for a while.
                  Characterized in terms of technicians and engineers, workstations and servers, the idea of outsourcing
                  ...
                </p>
                <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                  <span>Read More</span>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div><!-- /.blog-content -->
            </div><!-- /.post-item -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.blog Grid -->
{% endblock %}
